*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin: 0px;
    background-image: url("img/desaturated-mountains.jpg");
    color: #101419;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* HEADER SECTION */

.header {
    background-color: transparent;
}

.header-wrapper {
    display: flex;
    align-items: center;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 10px 20px 10px;
}

.container {
    display: flex;
    flex: 1;
}

.container.designs {
    color: #101419;
    justify-content: space-between;
}

.container.logo {
    justify-content: center;
}

.dragon-logo {
    height: 100px;
    width: auto;
}

.container.search-bar {
    justify-content: flex-end;
}

#search {
    padding: 10px;
    background-color: #fafaf1;
    opacity: 0.5;
    border-style: none;
}

#search-button {
    background-color: #39474f;
    border-style: none;
    color: #fafaf1;
    padding: 0px 10px;
}

/* WELCOME SECTION */

.welcome-parallax {
    min-height: 400px;
}

.welcome-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.welcome {
    display: flex;
    align-items: center;
    color: #fafaf1;
    background-color: #39474f;
    margin: 0px;
    padding: 0px 20px 0px 20px;
    line-height: 0.4em;
}

.avatar {
    width: 50px;
    height: auto;
    margin-right: 10px;
    border-radius: 50%;
}

.author{
    font-size: 14px;
}

span {
    margin: 5px;
    padding: 0px 5px;
    border-radius: 5px;
    font-size: 12px;
}

.class-html {
    background-color: #ff4200;
    margin-left: 65px;
}

.class-css {
    background-color: #0038cf;
}

.js {
    background-color: #cfb900;
}

.react {
    background-color: #20a1b9;
}

.welcome-text {
    background-color: #fafaf1;
    margin: 0px;
    padding: 0px 20px 0px 20px;
}

/* START OF SECTION STYLES */

section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.diagonal {
    position: relative;
    isolation: isolate;
}

.diagonal::after {
    content: '';
    background-color: #101419;
    /* background-image: linear-gradient(
        45deg,
        #0b131e,
        #385b6f,
        #fbb193,
        #385b6f,
        #0b131e
    ); */
    position: absolute;
    z-index: -1;
    inset: 0px;
    transform: skewY(-5deg);
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
}

/* START OF CARD STYLES */

.card {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 246px;
    background-color: #fafaf1;
    margin: 0px;
}

.card-img {
    width: 246px;
    height: auto;
    margin: 0px;
}

.card-title {
    background-color: #39474f;
    font-size: 14px;
    line-height: 0.5em;
    color: #fafaf1;
    text-align: center;
    margin-top: -5px;
}

.card-body {
    padding: 0px 5px 5px 5px;
}

.links {
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #101419;
    background-color: #a8837d;
    padding: 5px 20px;
    width: 232px;
    margin-bottom: 5px;
}

.links:visited{
    color: #39474f;
}

.links:hover {
    background-color: #fbb193;
    color: #101419;
}