*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    /* border: 1px solid red; */
}

body {
    font-family: Tahoma, "Trebuchet MS", sans-serif;
    font-size: 16px;
    background-color: #0b131e;
    color: #0b131e;

}

/*  START OF NAV BAR  */

.header {
    background-color: transparent;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    max-width: 1024px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px 5px 0px;
}

.dragon-logo {
    height: 100px;
    width: auto;
}

.nav-links {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    padding: 0px 30px;
    gap: 50px;
}

.nav-links a {
    text-decoration: none;
    color: #0b131e;
    transition: 0.2s ease;
}

.nav-links a:hover {
    text-decoration: none;
    color: #3f5f76;
}

/*  START OF WELCOME SECTION  */

.welcome {
    background-image: url("img/mountain-waves.jpg");
    background-attachment: scroll;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 2160px 1040px;
    height: 640px;
}

.welcome-wrapper {
    max-width: 1024px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: #0b131e;
    text-align: center;
}

.top-title {
    display: flex;
    margin-top: 12px;
    width: 800px;
}

.brackets {
    font-size: 120px;
    opacity: 0.5;
}

.my-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    color: #0b131e;
}

.name {
    display: flex;
    justify-content: space-between;
    font-size: 42px;
    font-weight: bolder;
}

.prof {
    display: flex;
    justify-content: space-between;
    opacity: 0.5;
    font-size: 24px;
    font-weight: bolder;
}

.intro {
    margin-top: 50px;
    padding: 10px 20px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.learn-more {
    margin-top: 30px;
    padding: 15px 30px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    color: #0b131e;
    background: rgba(255, 255, 255, 0.14);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: 0.5s ease;
}

.learn-more:hover {
    box-shadow: 0px 0px 20px 5px #fddbc0;
    color: #fafaf1;
    /* border: 1px solid #fafaf1; */
}

/* START OF SECTION STYLES */

.main-section {
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
}

/* START OF CARD STYLES */

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 246px;
    margin: 0px;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
}

.card-img {
    max-width: 244px;
    height: auto;
    /* margin-top: -2px; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-title {
    font-size: 10px;
    color: #7c9cb4;
    padding: 0px 10px 0px 10px;
}

.hr-line {
    border: 0px;
    border-top: 1px solid #7c9cb4;
    width: 80px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.para {
    margin-top: 10px;
}

.completed {
    background-color: #0b131e;
    color: #ffffff;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.project-link {
    text-decoration: none;
    color: #fbb699;
    transition: 0.2s ease;
}

.project-link:hover {
    color: #d98271;
}

.click-info {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #fbb699;
    color: #0b131e;
    margin: 10px;
    border-radius: 30px;
    gap: 30px;
    transition: 0.2s ease;
}

.click-info:hover {
    background-color: #d98271;
}

.info-icon {
    display: block;
    height: 50px;
    width: auto;
}

.yt-icon {
    display: block;
    height: 25px;
    width: auto;
    margin-left: 10px;
}

.card-title-back {
    font-size: 14px;
    padding: 2px;
    margin-bottom: 5px;
}

.card-body {
    display: flex;  
    flex: 1;
    flex-direction: column;
    padding: 0px 10px 0px 10px;
}

.links {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #fbb699;
    color: #0b131e;
    border-radius: 30px;
    gap: 10px;
    transition: 0.2s ease;
    margin: 5px 10px 0px 10px;
}

.links a {
    text-decoration: none;
    color: #0b131e;
}

.links:hover {
    background-color: #d98271;
}

.link-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

/* START OF ANIMATED CARDS */

.scene {
    display: inline-block;
    width: 246px;
    height: 640px;
    margin: 40px 0;
    perspective: 600px;
}
    
.card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
}
  
.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
  
.card-face-front {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    color: #0b131e;
    box-shadow: 0px 0px 10px 0px #000000;
    border-radius: 5px;
    border: 1px solid #ffffff;
}
  
.card-face-back {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: #0b131e;
    box-shadow: 0px 0px 10px 0px #000000;
    transform: rotateY(180deg);
    border-radius: 5px;
    border: 1px solid #ffffff;
}

